@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
  --gray-1: #828282;
  --divider: #c4c4c4;
  --light-blue-hover: #f0f2f2;
  --black-2: #3f3f3f;
  --light-blue-active: #c2c2c2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page__title {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

h3 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.dashboard__information {
  display: flex;
  justify-content: space-evenly;
  margin-top: 17px;
  padding: 73px 0 73px 0;
  border: 1px solid var(--divider);
}

.link {
  text-decoration: none;
}

.dashboard__description {
  display: block;
  max-width: 400px;
  flex: 1;
}

.block__address {
  margin: 25px 0;
}

.account__information_blockTitle {
  color: var(--black-2);
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.block__address {
  color: var(--gray-1);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 10px;
}

.btn__edit {
  color: black;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
