.btn {
  cursor: pointer;
}

.btn:disabled {
  cursor: default;
  background: #646464;
  color: #fff;
  transition: all 0.3s;
  border-radius: 0;
}

.btn-enabled {
  border: none;
  margin-right: 66px;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 270px;
  height: 50px;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.291);
    transition: all 0.3s;
    border-radius: 10px;
  }
}

.btn-disabled {
  color: black;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 270px;
  height: 50px;
  border: 1px solid black;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.291);
    transition: all 0.3s;
    border-radius: 10px;
  }
}

.mg-0 {
  margin: 0;
}
