@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.has-error {
  box-shadow: 0 0 2px 2px red;
}

.login-form__title {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.login-form {
  .wrapper-btn {
    display: flex;
    justify-content: center;
  }
}

.panel {
  text-align: center;
}

.form-group {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  label {
    width: 100%;
    text-align: left;
    color: #3f3f3f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    .form-control {
      margin: 0 30px;
    }
    #email {
      margin-left: 60px;
    }
    span {
      color: red;
      margin-left: 5px;
    }
  }
  .btn__show-pass {
    border: 1px solid black;
    &:hover {
      background-color: #3f3f3f4d;
    }
  }
}

.btn {
  cursor: pointer;
}

.btn-sign-in {
  border: none;
  margin-right: 66px;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 270px;
  height: 50px;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.291);
    transition: all 0.3s;
    border-radius: 10px;
  }
}

.btn:disabled {
  cursor: default;
  background: #646464;
  color: #fff;
  transition: all 0.3s;
  border-radius: 0;
}

.btn-register {
  color: black;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 270px;
  height: 50px;
  border: 1px solid black;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.291);
    transition: all 0.3s;
    border-radius: 10px;
  }
}
