.category {
  position: relative;
  transition: 400ms;
  border: 1px solid #ddd;
  padding: 0 5px;
  height: 30px;
  margin: 5px;
  width: 200px;
  background-color: #f9f9f9;
  justify-content: center;
  display: flex;

  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #333;

  .category-header {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 24px;
      img {
        transition: 200ms;
      }
    }
  }
}

.subcategories {
  width: 100%;
  transition: 300ms;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  opacity: 0;
  left: -5px;
  top: 25px;
  z-index: -1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.category-open {
  img {
    rotate: 180deg;
  }
  .subcategories {
    opacity: 1;
    z-index: 1;
  }
}

.open-categories {
  display: none;
  position: relative;
  transition: 400ms;
  border: 1px solid #ddd;
  padding: 0 5px;
  height: 30px;
  margin: 5px;
  width: 200px;
  background-color: #f9f9f9;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #333;
}
