.catalog-content {
  flex-direction: column;

  &,
  .main-content,
  .categories,
  .catalog-header,
  .sort-container {
    display: flex;
  }

  .catalog-header {
    justify-content: space-around;
  }

  .sort-container {
    align-items: center;
  }
}
