.catalog-content {
  flex-direction: column;

  .filter-list {
    width: 250px;
  }

  .main-content {
    margin-bottom: 50px;
  }

  &,
  .main-content,
  .categories,
  .catalog-header,
  .sort-container,
  .info-header,
  .options-header {
    display: flex;
    justify-content: center;
  }

  .info-header {
    margin-bottom: 10px;
  }

  .catalog-header {
    flex-direction: column;
    justify-content: space-around;
    margin-top: 6px;
    a {
      text-decoration: none;
      color: #333;
      transition: 200ms;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }

  .sort-container,
  .info-header,
  .options-header {
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 980px) {
  .categories {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 40px;
    flex-direction: column;
  }

  .categories-open {
    opacity: 1;
    z-index: 3;
    .category {
      margin: 0;
    }
  }

  .open-categories {
    display: block;
  }
}

@media (max-width: 620px) {
  .main-content {
    flex-wrap: wrap;
  }
}

.search-products {
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  img {
    width: 16px;
    height: 16px;
    pointer-events: none;
    filter: invert(100%);
  }
}

.catalog-pagination {
  padding: 10px 0;
  margin: 0;
  display: flex;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
  justify-content: center;
  background-color: #fff;
  gap: 4px;
  li {
    display: block;
    a {
      user-select: none;
      transition: 150ms;
      padding: 5px 15px;
      display: block;
      cursor: pointer;
      &:hover {
        background-color: grey;
        color: #fff;
      }
    }
  }

  .pagination-active {
    a {
      background: #000;
      color: #fff;
      &:hover {
        background-color: #000;
        cursor: auto;
      }
    }
  }

  .disabled {
    a {
      background-color: rgba(128, 128, 128, 0.418);
      &:hover {
        cursor: auto;
        color: black;
      }
    }
  }
}
