@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.has-error {
  box-shadow: 0 0 2px 2px red;
}

.login-form {
  .wrapper-btn {
    display: flex;
    justify-content: center;
  }
}

.panel {
  text-align: center;
}

.form-group {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  label {
    width: 100%;
    text-align: left;
    color: #3f3f3f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    .form-control {
      margin: 0 30px;
    }
    #email {
      margin-left: 60px;
    }
    span {
      color: red;
      margin-left: 5px;
    }
  }
  .btn__show-pass {
    border: 1px solid black;
    &:hover {
      background-color: #3f3f3f4d;
    }
  }
}

@media (max-width: 615px) {
  .wrapper-btn {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
    .btn {
      margin: 0;
    }
  }
}

@media (max-width: 470px) {
  .form-group {
    label {
      display: flex;
      align-items: center;
      flex-direction: column;
      #email,
      #password {
        margin: 0;
      }
      .btn__show-pass {
        margin-top: 10px;
      }
    }
  }
}
