:root {
  --gray-1: #828282;
  --divider: #c4c4c4;
  --light-blue-hover: #f0f2f2;
  --black-2: #3f3f3f;
  --light-blue-active: #c2c2c2;
}
.active {
  background: var(--light-blue-hover);
  color: #000;
  &:hover {
    background: var(--light-blue-active);
  }
}

.dashboard__menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  text-decoration: none;
  color: var(--gray-1);
}

.btn__dashboard {
  display: block;
  width: 288px;
  height: 44px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-style: normal;
  color: inherit;
  font-weight: 500;
}

.btn__dashboard:hover {
  background: var(--light-blue-active);
  color: #000;
}
