.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  // flex-direction: column;
}

.modal.active__modal {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  // width: 400px;
  // height: 450px;
  transform: scale(0.5);
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content.active__modal {
  transform: scale(1);
}

.btn__save {
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 150px;
  height: 50px;
  background: black;
  text-transform: uppercase;
  &:hover {
    background: rgba(0, 0, 0, 0.685);
  }
  &:disabled {
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.101);
  }
}
