@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
  --gray-1: #828282;
  --divider: #c4c4c4;
  --light-blue-hover: #f0f2f2;
  --black-2: #3f3f3f;
  --light-blue-active: #c2c2c2;
}

.dashboard__container {
  max-width: 1200px;
  margin: 0 auto;

  .dashboard__page__title {
    color: #000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  .dashboard__information {
    display: flex;
    justify-content: space-evenly;
    margin-top: 17px;
    padding: 73px 0 73px 0;
    border: 1px solid var(--divider);
  }

  .link {
    text-decoration: none;
  }
}

@media (max-width: 760px) {
  .dashboard__information {
    flex-direction: column;
    div {
      margin: 0 auto;
    }
  }
}

@media (max-width: 401px) {
  .dashboard__information {
    .form-input {
      max-width: 320px;
    }
  }
}
