main {
  text-align: center;
  h1 {
    font-size: 96px;
    margin: 0;
  }

  h2 {
    font-size: 64px;
    margin-top: 220px;
    margin-bottom: 10px;
  }

  button {
    height: 50px;
    width: 206px;
    background-color: black;
    color: #fff;
    margin-top: 80px;
  }
}
